.page-header
  %h3 My Books

- current_user.books.each do |book|
  = render 'books/book_summary', :book => book

%hr
= link_to 'Create a New Book', new_book_path, :class => 'btn btn-lg btn-primary'


